<div class="container-scroller"></div>
   <pm-navbar></pm-navbar>
  
     <pm-sidebar></pm-sidebar> 
        <div class="container-fluid container-scroller page-body-wrapper"> 
             <div class="container-fluid container-scroller ">
               <div class="row">
                 <div class="col-lg-3" ></div>
                       <div class="col-lg-9 " >  
                        <router-outlet></router-outlet>     
                        
                        </div>
 
                  </div>
               <div>
       
     </div>
  
